@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import '../../public/coreui/vendors/simplebar/css/simplebar.css';
@import '../../public/coreui/css/vendors/simplebar.css';
@import '../../public/coreui/css/style.css';
@import url('https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism.css');
@import "../../public/coreui/css/examples.css";
@import "../../public/coreui/vendors/@coreui/chartjs/css/coreui-chartjs.css";
// @import "../../public/js/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker.css";
@import "/node_modules/@selectize/selectize/dist/css/selectize.bootstrap5.css";
@import "/node_modules/toastr/build/toastr.css";

@page 
{
    size: letter;
}
@media print 
{
* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
    div.shadow-lg {
        -webkit-box-shadow: none!important;
        -moz-box-shadow:    none!important;
        box-shadow:         none!important; 
    }
}

.overlay
{
    border-radius: 0.25rem;
    align-items: center;
    background-color: rgba(255,255,255,.7);
    display: flex;
    justify-content: center;
    z-index: 50;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.stacked-info 
{
    padding-top: 7px!important;
    line-height: .94;
}